
// Footer
#main-footer {
  background-color: $link-color!important;
}

#footer-widgets {
  padding: 100px 0;
  .footer-widget {
    width: 100%;
    margin-bottom: 0;
    &:nth-child(1) {
      text-align: center;
    }
    &:nth-child(2) {
      display: flex;
      justify-content: space-between;
    }
    .fwidget {
      margin-bottom: 0;
    }
    #media_image-2 {
      margin-bottom: 115px!important;
    }
    @media(max-width: 980px) {
      display: flex;
      flex-direction: column;
      div {
        margin-bottom: 30px;
      }
    }
    @media (max-width: 767px) {
      &:nth-child(n) {
        margin-bottom: 0!important;
      }
      .fwidget {
        margin-bottom: 30px!important;
        div {
          margin-bottom: 0;
          p {
            display: flex;
            flex-direction: column;
            color: white;
            text-align: center;
            i {
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }
  .textwidget {
    p {
      font-size: 18px!important;
    }
  }
  
  #text-4{
    float: right;
  }
}

#footer-bottom {
  display: none;
}

#media_image-2 {
  width: 100%;
  margin: auto;
}