

// Hero
.hero-title {
  text-align: center;
  h1 {
    font-size: 9vh;
    color: white;
    text-align: center;
  }
}

.hero-subtitle {
  color: #dbdada;
  font-size: 3vh;
  font-family: $lato;
  font-style: italic;
  letter-spacing: 2px;
}