* {
  box-sizing: border-box;
}

p {
  color: $font-color;
}

h1, h2 {
  font-family: $teko;
}

.subtitle-blue {
  h2 {
    color: $font-title-color;
    font-size: 5vh!important;
  }
}

.subtitle-white {
  h2 {
    color: white;
    font-size: 5vh!important;
  }
}