* {
  box-sizing: border-box!important;
}

p {
  color: $font-color;
  font-family: $lato;
  letter-spacing: 1px;
}

a {
  color: $link-color;
  font-family: $lato;
}

h1, h2, h3, h4, h5 {
  font-family: $teko;
  color: $font-title-color;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

h1 {
  font-size: 9vh;
}

h2 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  overflow-wrap: break-word;
}

h3 {
  font-size: 20px!important;
  color: $font-color;
}

.subtitle-blue {
  h2 {
    color: $font-title-color;
    font-size: 4.7vh!important;
  }
}

.subtitle-white {
  h2 {
    color: white;
    font-size: 5vh!important;
  }
}

.blue-button {
  background-color: $blue;
  color: white;
  font-family: $lato;
  text-transform: uppercase;
  padding: 15px 50px;
  display: inline-block;
  margin-top: 20px;
  font-weight: 900;
}