// Mobile

// Desktop
@media only screen and (min-width: 981px) {
  #main-header {
    #et-top-navigation {
      padding: 30px 0!important;
    }
    &.et-fixed-header {
      #et-top-navigation {
        padding: 10px 0!important;
      }
    }
  }

  
  #top-menu-nav{
    ul {
      li {
        padding: 0;
        margin: 0 20px!important;
        border: 2px solid transparent;
        &.current-menu-item,
        &:hover {
          border: 2px solid $blue;
        }
        a {
          font-family: $lato;
          font-weight: bold;
          text-transform: uppercase;
          padding: 15px!important;
          line-height: 13.25px;
          color: $blue;
        }
      }
    }
  }
}