
.social-icons {
  ul {
    padding-left: 0;
    li {
      list-style: none;
      display: inline-block;
      margin-right: 10px;
    }
  }
}

@media(min-width:980px) {
  .show-mobile{
    display: none;
  }
}